@model GllavicaInventari.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<a class="btn btn-default btn-rounded waves-effect waves-light pull-right" asp-action="Index">
    <span class="btn-label"><i class="fa fa-backward"></i></span>
    Kthehu tek produktet
</a>
<h2>Ndrysho të dhënat e produktit</h2>

<div class="visible-lg" style="height: 25px;"></div>

<div class="row">
    <div class="col-md-8 col-md-offset-2 col-8">
        <div class="card-box">
            <form asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <div class="form-group row">
                    <label class="col-4 col-form-label">Emri i produktit<span class="text-danger">*</span></label>
                    <div class="col-7">
                        <input asp-for="Title" required class="form-control" placeholder="Fruta pylli te ngrira, kajsi te that etj." />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pershkrimi" class="col-4 col-form-label">Pershkrimi produktit</label>
                    <div class="col-8">
                        <input asp-for="Description" class="form-control" placeholder="Nje pershkrimi i shkurter per produktin (opsional)" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="hori-pass1" class="col-4 col-form-label">Njesia e produktit<span class="text-danger">*</span></label>
                    <div class="col-7">
                        <select asp-for="Unit" class="form-control">
                            <option>KG</option>
                            <option>LITER</option>
                            <option>COPE</option>
                            <option>KOLI</option>
                            <option>PAKO</option>
                            <option>Tjeter</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2">
                        <button type="submit" class="btn btn-primary waves-effect waves-light btn pull-right"> Ruaj ndryshimet </button>
                    </div>
                </div>
            </form>

            <div class="visible-lg" style="height: 10px;"></div>
        </div>

    </div> <!-- end col -->
</div>
<!-- end row -->




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
