@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@if (SignInManager.IsSignedIn(User))
{
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>
                    <li><a href="/Stock/Index/2019" class="waves-effect"><i class="ti-control-forward"></i> <span> Raportet </span></a></li>
                </ul>
                <div class="clearfix"></div>
                <ul>
                    <li><a href="/Entries" class="waves-effect"><i class="ti-control-forward"></i> <span> Hyrjet </span></a></li>
                </ul>
                <div class="clearfix"></div>
                <ul>
                    <li><a href="/Exits" class="waves-effect"><i class="ti-share-alt"></i> <span> Daljet </span></a></li>
                </ul>
                <div class="clearfix"></div>
                @*<ul>
                    <li><a href="/Transfers" class="waves-effect"><i class="ti-exchange-vertical"></i> <span> Transfertat </span></a></li>
                </ul>*@
                <div class="clearfix"></div>
                <ul>
                    <li><a href="/Products" class="waves-effect"><i class="ti-dropbox"></i> <span> Produktet </span></a></li>
                </ul>
                <div class="clearfix"></div>
                <ul>
                    <li><a href="/Suppliers" class="waves-effect"><i class="ti-shopping-cart-full"></i> <span> Furnitorët </span></a></li>
                </ul>
                <div class="clearfix"></div>
                @if (User.IsInRole("Admin"))
                {
                    <ul>
                        <li><a href="/Warehouses" class="waves-effect"><i class="ti-location-pin"></i> <span> Magazinat </span></a></li>
                    </ul>
                    <ul>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="ti-control-forward"></i> <span> Arkiva </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="/Entries/EntriesReport" class="waves-effect"><i class="ti-control-forward"></i> <span> Hyrjet 2018 </span></a></li>
                                <li><a href="/Exits/ExitsReport" class="waves-effect"><i class="ti-share-alt"></i> <span> Daljet 2018</span></a></li>
                                <li><a href="/Stock/Index/2018" class="waves-effect"><i class="ti-control-forward"></i> <span> Raportet 2018</span></a></li>
                            </ul>
                        </li>
                    </ul>
                }
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}