@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@if (SignInManager.IsSignedIn(User))
{
    <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center">
                <a asp-action="Index" asp-controller="Stock" class="logo"><img src="~/images/gllavica.png" height="42" /></a>
            </div>
        </div>
        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default" role="navigation">
            <div class="">
                <div class="">
                    <div class="pull-left">
                        <button class="button-menu-mobile open-left waves-effect waves-light">
                            <i class="md md-menu"></i>
                        </button>
                        <span class="clearfix"></span>
                    </div>
                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="hidden-xs">
                            <a href="#" id="btn-fullscreen" class="waves-effect waves-light"><i class="icon-size-fullscreen"></i></a>
                        </li>
                        <li class="dropdown top-menu-item-xs">
                            <a href="#" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true"><img src="~/Content/assets/images/user.png" alt="user-img" class="img-circle"> </a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("Admin"))
                                {
                                    <li><a asp-action="Index" asp-controller="Account"><i class="ti-user m-r-10 text-custom"></i> Perdoruesit </a></li>
                                    <li class="divider"></li>
                                }
                                <li>
                                    <form role="form" asp-action="LogOff" asp-controller="Account">
                                        <button type="submit" class="btn btn-danger btn-block waves-effect waves-light"><i class="ti-power-off m-r-10 text-white"></i> Dilni </button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        var resizefunc = [];
    </script>
}